.nav {
  width: 100%;
  padding: var(--space-sm);
  height: 42vh;
  overflow: hidden;

  .navContainer {
    width: 18%;
    margin: auto;
    display: flex;
    position: fixed;
    z-index: 999;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(219, 219, 219);
    background-color: #fff;
    padding-inline: var(--space-sm);
    padding-block: var(--space-xs);
    border-radius: var(--br-md);
    transform-origin: top;
  }

  .bigNavContainer {
    width: 45%;
    height: 42vh;
    margin: auto;
    position: fixed;
    z-index: 999;
    background-color: #fff;
    border: 1px solid rgb(219, 219, 219);
    padding-inline: var(--space-sm);
    padding-block: var(--space-xs);
    border-radius: var(--br-md);
    transform-origin: top;
  }

  .navButton {
    border: none;
    background-color: transparent;
    font-size: var(--font-size-sm);
    text-transform: uppercase;
    font-weight: var(--font-weight-semibold);
    letter-spacing: 2px;
    cursor: pointer;
  }

  .hamburgerMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10px;
    cursor: pointer;

    .hamburgerMenuSpan {
      width: 20px;
      height: 2px;
      background-color: var(--text-primary-color);
      border-radius: var(--br-xs);
    }
  }
}
